NEXT_PUBLIC_PUBLIC_FEED_URL=
NEXT_PUBLIC_PRIVATE_CONSOLE_URL=

# For private admin (Cloud Run) - not used in GH Pages build
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# SESSION_SECRET=
# ALLOWED_DOMAIN=veteranet.org
# PUBLIC_BUCKET=
